<div id="stories"></div>

<script type="text/javascript">
  $(function() {
    // Blog is the app name
    window.router = new Trenderio.Routers.StoriesRouter({stories: <%= @stories.to_json.html_safe -%>});
    if (!Backbone.History.started) {
    	Backbone.history.start();
    }
  });
</script>