/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body, html, .page-wrap, .row {
	height:100%;
	background:#f4f4f4;
	color:#626262;
}
.page-wrap {
	padding: 0 15px;
	font-family: "proxima-nova",sans-serif;
}
.left-bar {
	height: 100%;
	background-color: #fff;
	h1 {
		color:#5191df;
		font-weight:300;
		.io {
			color:#d1d1d1;
		}
	}
	.cats {
		margin-top:30px;
		a {
			width:100%;
			font-size:1.5em;
			font-weight:300;
			height:1.1em;
		}
		a.active {
			font-weight:600;
		}
	}
}
.main-area {
	margin-top:15px;
	margin-bottom:15px;
	.popover-content {
		a {
			margin:0 5px;
		}
	}
}