/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
body, html, .page-wrap, .row {
	height:100%;
	background:#f4f4f4;
	color:#626262;
}
.page-wrap {
	padding: 0 15px;
	font-family: "proxima-nova",sans-serif;
}
.left-bar {
	height: 100%;
	background-color: #fff;
	h1 {
		color:#5191df;
		font-weight:300;
		.io {
			color:#d1d1d1;
		}
	}
	.cats {
		margin-top:30px;
		a {
			width:100%;
			font-size:1.5em;
			font-weight:300;
			height:1.1em;
		}
		a.active {
			font-weight:600;
		}
		li a:hover,
		li a:focus {
		  text-decoration: none;
		}
	}
	.last-updated {
		margin-top:30px;
		font-size:0.8em;
		.time {
			font-weight: 600;
		}
	}
	.bottom {
		font-size:1.2em;
		margin-top:20px;
	}
}
#columns, .columns {
	-webkit-column-count: 3;
	-webkit-column-gap: 20px;
	-webkit-column-fill: auto;
	-moz-column-count: 3;
	-moz-column-gap: 20px;
	-moz-column-fill: auto;
	column-count: 3;
	column-gap: 20px;
	column-fill: auto;
}
.main-area {
	margin-top:15px;
	margin-bottom:15px;
	.popover-content {
		a {
			margin:0 5px;
		}
	}
}
a.active.l1, a:hover.l1, a:focus.l1,.t1  {color:#5191df;}
a.active.l2, a:hover.l2, a:focus.l2,.t2  {color:#45b29d;}
a.active.l3, a:hover.l3, a:focus.l3,.t3,.todo  {color:#e3348a;}
a.active.l4, a:hover.l4, a:focus.l4,.t4  {color:#df5a49;}
a.active.l5, a:hover.l5, a:focus.l5,.t5  {color:#e27a3f;}
a.active.l6, a:hover.l6, a:focus.l6,.t6  {color:#334d5c;}
a.active.l7, a:hover.l7, a:focus.l7,.t7  {color:#8d31db;}

@media (max-width: 991px) {
	.left-bar {
		height: auto;
		.nav, .last-updated {
			display:none;
		}
		h1 {
			margin-top:10px;
		}
	}
}