<div class="about">
	<div class="what what-1">
		<h1>what is trender<span class="io">.io</span>?</h1>
		<div class="row">
			<div class="col-md-4">
				<p>Trender.io will aim to find the top trending topics and objectively deliver the best sources to read about them. Currently there is a number of locations individuals go to where they source these stories (Facebook, twitter, CNN) but each of these sites has a bias (what their friends are sharing and what CNN classes as the best news may be neither the most important news nor the best place to read about it). Another example of bias is geographical preference - the BBC is likely to classify UK news as more important than CNN would. Our aim is to analyze the trending topics in addition to the best place to read these, and deliver these to the reader in a simple, transparent way.</p>
			</div>
			<div class="col-md-4">
				<img src="/assets/about-what.png">
			</div>
		</div>
	</div>
	<div class="what what-2">
		<h1>how does it work?</h1>
		<div class="row">
			<div class="col-md-4">
				<p>There are two main categories of data that we will collect: trending data and story data. trender.io’s special algorythmic glue matches and transparently delivers the best news to you through the front-end, and we're open to suggestions for improvement through our github account.
				</p>
			</div>
			<div class="col-md-4">
				<img src="/assets/about-how.png">
			</div>
		</div>
	</div>
	<div class="what what-3">
	<h1>who made it?</h1>
		<div class="row">
			<div class="col-md-4">
		<p>trender.io was created for a project in Harvard's <a href="http://cs109.org" target="_blank">CS109 course in Data Science</a>.</p>
		  <strong>Oliver Newth - MIT MEng 2014</strong><div class="desc">studying supertall structures, involved in tech start-ups, front-end designer and developer</div>
		  <strong>Brinda Vijaykumar - MIT BSc 2014</strong><div class="desc">interested in statistical data analysis</div>
		  <strong>Bryan Kate - Harvard PhD 2014</strong><div class="desc">researching distributed computer systems and abstractions for parallel computing</div>
		  <strong>Santosh Kandi - Harvard Extension School</strong><div class="desc">systems architect based in Texas</div>
		</p>
			</div>
			<div class="col-md-4">
				<img src="/assets/about-team.png">
			</div>
		</div>
	</div>
	<div class="what what-4">
	<h1>what did you use to make it?</h1>
		<div class="row">
			<div class="col-md-4">
				<p>There's a few different programming languages that have been used in the creation of trender.io:</p>
				<ul>
					<li><strong>Backend 'data-science'</strong> - Python</li>
					<li><strong>Front-end</strong> - Ruby on Rails, backbone.js</li>
					<li><strong>Storage</strong> - PostgreSQL?</li>
					<li><strong>Version control</strong> - git</li>
				</ul>
			</div>
			<div class="col-md-4">
<!-- 				<img src="/assets/about-how.png">
 -->			</div>
		</div>
	</div>
</div>