<!DOCTYPE html>
<html>
<head>
  <title>trender.io</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no">
</head>
<body>
<div class="page-wrap">
	<div class="left-bar">
		<h1>trender<span class="io">.io</span></h1>
		<h4>the top news from<br/>the best sources</h4>
		<ul class="cats nav nav-stacked">
			<li><a class="l1" id="index" href="/#/">worldwide</a></li>
			<li><a class="l2" id="cat-social" href="/#/cat/social">social</a></li>
			<li><a class="l3" id="cat-news" href="/#/cat/news">news</a></li>
			<li><a class="l4" id="cat-sport" href="/#/cat/sport">sport</a></li>
			<li><a class="l5" id="cat-tech" href="/#/cat/tech">tech</a></li>
			<li><a class="l6" id="cat-education" href="/#/cat/education">education</a></li>
		</ul>
		<div class="last-updated">Last updated <span class="time"></span></strong></div>
		<div class="bottom-links">
		<ul class="nav nav-stacked bottom">
			<li><a class="l1" id="about" href="/#/about">about trender.io</a></li>
			<li><a class="l2" id="github" href="http://github.com/trenderio" target="_blank">github</a></li>
			<li><a class="l3" id="notebook" href="http://nbviewer.ipython.org/github/trender-io/report/blob/master/keywords.ipynb" target="_blank">notebook</a></li>
		</ul>
		</div>
	</div>
	<div class="main-area"><%= yield %></div>
</div>
</body>
</html>
